<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>You-Cut Christmas Trees: The Country Tree Farm, Renton WA</title>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag  "application" %>
</head>
<body onload="new Accordian("accordian",3,"header_highlight");">

<div id="header">
<h1><a href="#">The Country Tree Farm</a></h1>
<h2>Your neighborhood source for Christmas Trees<br />
All-Natural, Pesticide-Free, and Hand-Trimmed.</h2>
</div>

<div id="accordian" ><!--Parent of the Accordion-->


<!--Start of each accordion item-->
  <div id="acc-header" class="accordion_headings header_highlight" >Welcome!</div><!--Heading of the accordion ( clicked to show n hide ) -->

  <!--Prefix of heading (the DIV above this) and content (the DIV below this) to be same... eg. foo-header & foo-content-->

  <div id="acc-content"><!--DIV which show/hide on click of header-->

    <!--This DIV is for inline styling like padding...-->
    <div class="accordion_child">
      <%= image_tag "becky_wave_mini.jpg" %>
      <h3>Experienced Farmers</h3>
      <p>
        With over 25 years of Christmas-tree growing experience, we can happily
        assist you in finding the perfect tree for your home or business.
      </p>
      <p>
        Come visit our barn for a snack or sip of hot apple cider,
        or build your own <strong>wreath</strong> with fresh greens and holly.
      </p>
      <p>
        Country Tree Farm  <br />
        18225 116th Ave SE <br />
        Renton, WA 98058   <br />
      </p>
      <p><strong>(425) 255-5172</strong></p>
      <p>We are open on the Friday after Thanksgiving,
          and then every weekend until Christmas:<br /><strong>9am — 4:30pm</strong></p>
  </div>

  </div>
<!--End of each accordion item-->


<!--Start of each accordion item-->
  <div id="acc1-header" class="accordion_headings" >About our Trees</div><!--Heading of the accordion ( clicked to show n hide ) -->

  <!--Prefix of heading (the DIV above this) and content (the DIV below this) to be same... eg. foo-header & foo-content-->

  <div id="acc1-content"><!--DIV which show/hide on click of header-->

    <!--This DIV is for inline styling like padding...-->
    <div class="accordion_child">
      <%= image_tag "decorated_tree_mini.jpg" %>

      <p>Our healthy green trees are kept happy with all-natural care.</p>
      <p>Every tree is:</p>
      <p> * Pesticide free</p>
      <p> * Chemical free</p>
      <p> * All natural</p>
      <p> * Hand trimmed</p>
      <p> * Fully fragrant</p>
      <p>We feature large Nobels and Grands, with ranging form 6" to 20" or taller.</p>
      <p>Come on out and see what we have been working on!</p>
    </div>

  </div>
<!--End of each accordion item-->

<!--Start of each accordion item-->
  <div id="acc2-header" class="accordion_headings" >About Our Farm</div><!--Heading of the accordion ( clicked to show n hide ) -->

  <!--Prefix of heading (the DIV above this) and content (the DIV below this) to be same... eg. foo-header & foo-content-->

  <div id="acc2-content"><!--DIV which show/hide on click of header-->

    <!--This DIV is for inline styling like padding...-->
    <div class="accordion_child">
      <%= image_tag "tractor_kids_mini.jpg" %>

      <h3>Family Run &#38; Family Friendly!</h3>
      <p>Our Farm is a member of the
        <a href="http://www.nwtrees.com/">Pacific Nowrthwest Christmas Tree Association</a>,
        where our business is
        <a href="http://www.nwchristmastrees.org/find-your-perfect-christmas-tree/c/country-tree-farm/">listed</a>.
      </p>
      <p>The Country Tree Farm has 4 acres of elegant, fragrant Christmas trees, with a wide variety of
        ages and heights. Have a room with a vaulted ceiling or a business needing some holiday cheer?
        Take a look at our trees: up to 25" tall!
      <p>Our full size barn is home to a few of our bunnies, and a favorite
        spot of the children of our regular customers. The classic wood-burning
        stove will keep you warm, or take a cup of hot cider with you during your time browsing the
        trees. A tractor or two will keep younger children entertained while you design and build your own
        fresh wreath.<p>
      <p>We hope you"ll stop in!</p>
    </div>

  </div>
<!--End of each accordion item-->

<!--Start of each accordion item-->
  <div id="acc3-header" class="accordion_headings" >Directions</div><!--Heading of the accordion ( clicked to show n hide ) -->

  <!--Prefix of heading (the DIV above this) and content (the DIV below this) to be same... eg. foo-header & foo-content-->

  <div id="acc3-content"><!--DIV which show/hide on click of header-->

    <!--This DIV is for inline styling like padding...-->
    <div class="accordion_child">
      <a href="http://maps.google.com/maps/place?q=18225+116th+Ave+SE,+Renton+WA" target="_blank">
        <%= image_tag "map.png" %>
      </a>

      <p>We are conveniently located within a short drive of Seattle, Bellevue or Federal Way.
         Just minutes from downtown Renton or Kent.</p>
      <h3>From the North:</h3>
      <p> * Take the 405 to the 167 South</p>
      <p> * Exit on East Valley Road, and head left for 1 block</p>

      <h3>From the South:</h3>
      <p> * Take the 167 North to the SW 43rd St. exit

      <h3>THEN...</h3>
      <p> * Go east on SW 43rd Street for about 1.7 miles</p>
      <p> * Turn right at 116 Ave SE</p>
      <p> * The Farm is about half a mile on the right</p>

      <h3>Contact:</h3>
      <p>
        Country Tree Farm  <br />
        18225 116th Ave SE <br />
        Renton, WA 98058   <br />
      </p>
      <p><strong>(425) 255-5172</strong></p>
    </div>

  </div>
<!--End of each accordion item-->



</div><!--End of accordion parent-->



<div id="footer">
<p class="validate"><a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/">CSS</a></p>


<!-- If you wish to delete this line of code please purchase our commercial license http://www.sixshootermedia.com/shop/commercial-license/ -->
<p>Design <a href="http://www.sixshootermedia.com">templated</a>,
  implemented by <a href="http://decielo.com/">deCielo Creative Collective</a>. <br />
<!-- you can delete below here -->
© 2010 Country Tree Farm.</p>
</div>

</body>
</html>
